<div class="footer__bottom">
  <div class="footer__bottom-links">
    <a href="#">Privacy Policy</a>
    <span class="footer__bottom-separator">|</span>
    <a href="#">Terms and Conditions</a>
    <span class="footer__bottom-separator">|</span>
    <a href="#">Site Map</a>
  </div>
  <div class="footer__copyright">
    Copyright © 2024 Pixmart. All rights reserved.
  </div>
</div>