<div class="footer-bottom">
  <div class="footer-links">
    <a href="#">Privacy Policy</a>
    <span class="divider">|</span>
    <a href="#">Terms and Conditions</a>
    <span class="divider">|</span>
    <a href="#">Site Map</a>
  </div>
  <div class="copyright">
    Copyright © 2024 Pixmart. All rights reserved.
  </div>
</div>