{% extends "layouts/base.njk" %}
{% block content %}
    <section class="catalog-hero">
        <div class="catalog-hero__container">
            <h1 class="catalog-hero__title">
      Explore Top<br>
                <span class="catalog-hero__highlight">UI Kits</span> Design Assets
    </h1>
        </div>
        <div class="catalog-hero__wave">
            <svg viewBox="0 0 1920 180" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                <path d="M0 60C480 180 1440 0 1920 120V180H0V60Z" fill="#E7ECF0"/>
            </svg>
        </div>
    </section>
{% endblock %}