body {
  font-family: 'Plus Jakarta Sans', Arial, sans-serif;
  color: #181C25;
  background: #fff;
  margin: 0;
}

// Example for text/heading color
h1, h2, h3, h4, h5 {
  color: #181C25;
  font-family: 'Plus Jakarta Sans', Arial, sans-serif;
  font-weight: 700;
}
