{% extends "layouts/base.njk" %}
{% block content %}
    <section class="blog-hero">
        <span class="blog-hero__tag">Typography</span>
        <h1 class="blog-hero__title">
      Mastering the Art of Typography:<br>
      Tips for Eye-Catching Designs for 2024
    </h1>
    </section>
{% endblock %}